/* I recommend you don't change the curtain but I won't stop you if you're gonna */
.CurtainBlock {
  	background-color: black;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

/* You can totally change this to suit your needs though! */
.CurtainBlockAlert {
	background-color: rgb(255,255,255);
	width: 500px;
	height: 275px;
	position: absolute;
	margin: auto;
	top: 0; left: 0; right: 0; bottom: 0;
	-webkit-box-shadow: 0px 0px 20px white;
	-o-box-shadow: 0px 0px 20px white;
	-ms-box-shadow: 0px 0px 20px white;
	box-shadow: 0px 0px 20px white;
	font-family: sans-serif;
	padding: 10px;
	text-align: center;
}

.CurtainBlockAlert p {text-align: justify;}
.CurtainBlockConfirm {display: none;}
.CurtainBlockDeny {display: none;}
